<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>learning vue js</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="my_app">
                    <input type="number" name="" v-model="value1" id="number">
                    <input type="number" name="" v-model="value2" id="number">
                    <h1>Result: {{ result }}</h1>
                </div>
            </div>
        </div>
    </div>  


    <script>
        var app = new Vue({
                    el: '#my_app',
                    data: {
                        value1: '',
                        value2: ''

                    },

                    computed: {
                        result: function() {
                            return parseInt(this.value1) + parseInt(this.value2)
                        }



                    })
    </script>




</body>

</html>